body {
  background-color: #b7d4fa;
}

table{
    border-collapse: collapse;
    width: 100%;
    /* margin-top: 10px;
    margin-left:30%; */
    /* border: 1px solid #534242; */
    border-radius: 8px;
    overflow: hidden; /* para arredondar os cantos */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    justify-content: center;

}

th, td{
    padding: 12px;
    text-align: center;
}


table a{
  text-decoration: none;
}

thead{
    background-color: #5a5f7f;
    color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 380px;
  padding-left: 30px;
}

.pagination a {
  cursor: pointer;
}

.pagination ul {
  list-style: none;
  display: flex;
  gap: 8px;
  /* padding: 0; */
}
 
.pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.float-btn{
  position: fixed;
  right: 16px;
  bottom: 16px;              /* considera áreas seguras em celulares com notch */
  padding: 0.9rem 1.1rem;
  border-radius: 999px;      /* deixa redondo/oval */
  background: #4DB1F8;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 6px 16px rgba(0,0,0,.25);
  z-index: 9999;
  transition: transform .15s ease, box-shadow .15s ease;
  border-color:  #4DB1F8;
  
}
.float-btn:hover{ transform: translateY(-5px); box-shadow: 0 10px 22px rgba(0,0,0,.28); }

input[type="checkbox"] {
  
  transform: scale(1.8); /* aumenta 50% */
  margin: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  background-color: #4DB1F8;
}